# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Django
db.sqlite3
media/
staticfiles/

# IDE and OS
.idea/
.DS_Store

# Tests and coverage
.pytest_cache/
.coverage
htmlcov/
